*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body{
  padding: 5vw;
  background-color: rgb(243, 239, 239);
}

h1{
  font-size: 42px;
  margin:auto;
}

div{
  background-color: rgb(255, 255, 255);
}