

header{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto 5vw auto;
  
}

main{
  margin: auto;
  max-height: auto;
  max-width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;

}


#photo-template{
  display: none;
}

.hide{
  display: none;
}




div{
  width: 250px;
  height: 100%;
  margin: 0 2% 30px 2%;
  display: inline-block;
  padding: 1vw;
  border-radius: 1vw;
  
  
  
}

img{
  width: 100%;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: auto;
}

.horn1, .sort{
  order: -1


}

.horn2, .sort{
  order: 1
  

}

.horn3, .sort{
  
  order: 2

}

.horn100, .sort{

  order: 3
  

}
